bonjour-service decodes TXT records incorrectly

bonjour-service starts decoding the TXT value one byte too early, thus getting the length of each text segment wrong.

Here's an illustrative snippet that fixes this:
```js
const dnsTxtDecode = require('dns-txt')().decode;

// new service handler
// override bonjour TXT decoding bug
if (service.rawTxt.length === service.rawTxt[0] + 1) {
      service.fixedTxt = dnsTxtDecode(service.rawTxt.slice(1));
    }
```

Background:
http://www.zeroconf.org/Rendezvous/txtrecords.html#:~:text=The%20format%20of%20the%20data,255%20bytes%20of%20text%20data

A DNS TXT record can be up to 65535 (0xFFFF) bytes long. The total length is indicated by the length given in the resource record header in the DNS message. There is no way to tell directly from the data alone how long it is (e.g. there is no length count at the start, or terminating NULL byte at the end).

The format of the data within a DNS TXT record is zero or more strings, packed together in memory without any intervening gaps or padding bytes for word alignment.

The format of each constituent string within the DNS TXT record is a single length byte, followed by 0-255 bytes of text data.

These format rules are defined in Section 3.3.14 of RFC 1035, and are not specific to DNS-SD. DNS-SD simply specifies a usage convention for what data should be stored in those constituent strings.

I've look at this again and have realised that this is not a bug. I was looking at an incorrectly encoded packet and wrongly thought the problem was with the decoder. Closing this issue again.